/**
 *
 * CONTENTS 
 *
 */

/*=============================================
=            Page elements ||                 =
=============================================*/

.news-banner-container {
  inline-size: 100%;
  padding: 10px 0;
  margin: 0;
}

/*=====  End of Page elements |      ======*/





/*=============================================
=            Hero ||                          =
=============================================*/

#julik-hero-header {
	font-size: 16vh;
	background-color: rgba(0,0,0, 0.15);
	border-radius: 30px;
	padding: 0 10vw;
	margin: 0;
	margin-bottom: 10vh;
	text-shadow: none;
	color: rgba(255, 255, 255, 0.9);
	font-family: calibri;
}
.hero-navigation-arrow {
  width: 10vh;
  height: 10vh;
  position: absolute;
  bottom: 0;
  border-color: white;
  border: solid white;
  border-width: 0 1vh 1vh 0;
  margin-bottom: 5vh;
  cursor: pointer;
  transform: rotate(45deg);
}

/*=====  End of Hero ||                ======*/





/*=============================================
=            Classes ||                       =
=============================================*/

.horror-transitions {
  transition: background-color 1s, color 2s, font-familly 3s, border 4s, border-radius 4s;
}

.horror-marker::marker {
  content: "🦴   ";
}

/*=====  End of Classes ||             ======*/





/*=============================================
=            Animations ||                    =
=============================================*/

.patreons-container {
  position: absolute;
  top: 13%;
  left: 60%;
}

.patreons-header {
  margin: 0 0 1vh 0;
}

.patreons-list {
  margin: 0;
  list-style-type: none;
  list-style-type: disclosure-closed;
}

.patreons-list > li {
  font-size: 3vw;
  padding: 1vh 0vw;
  text-align: center;
}

.patreons-list > hr {
  margin: 0;
}

.patreons {
	font-size: 5vw;
	font-family: calibri;
	background-color: rgba(0,0,0, 0.15);
	border-radius: 8px;
	padding: 0 6vw;
}

.body-animation {
  animation: 
    /* pageBeat 10s ease-in 0s infinite,  */
    fadeInOpacity 2s ease-in-out 0s 1,
    scaleIn 2s ease-in-out 0s 1;
}

@keyframes borderRadiusChange {
  0% {border-radius: 10px 80px 50px 20px;}
  100% {border-radius: 70px 20px 120px 70px;}
}

@keyframes pageBeat {
  0%    {box-shadow: 0px 0px 1px sandybrown;}
  50%   {box-shadow: 0px 0px 50px sandybrown;}
  100%  {box-shadow: 0px 0px 1px sandybrown;}
}

@keyframes scaleIn {
  0%   { transform: scale(0,0); }
  100% { transform: scale(1,1); }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.heartbeat-animation-horror {
  animation-name: pageBeatHorror;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes pageBeatHorror {
  0%    {box-shadow: 0px 0px 1px darkred;}
  50%   {box-shadow: 0px 0px 50px crimson;}
  100%  {box-shadow: 0px 0px 1px darkslategray;}
}

/*=====  End of Animations ||          ======*/





/*=============================================
=            ID's ||                          =
=============================================*/

#main-section {
  position: sticky;
  inline-size: 450px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 20px;
  scroll-margin-top: 20px;
  padding: 0 20px 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  opacity: 0;
}

#loading-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgba(255,255,255,0.9); */
  display: flex;
  align-items: center;
  justify-content: center;
    /* filter: blur(10px); */
}

#loading-img {
  width: 30vw;
}

#version-string {
  color: black;
  text-align: center;
  margin-top: 0;
  font-size: 2vw;
}

#blurred-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.15);
	z-index: -1;
	backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
}

#page-reset-btn {
  display: none;
}

#food-list > li::marker {
  content: "🐶   ";
}

/*=====  End of ID's ||                ======*/
