/**
 *
 * CONTENTS 
 *
 */

.main-section {
  position: sticky;
  inline-size: 450px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 20px;
  scroll-margin-top: 20px;
  padding: 0 20px 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  opacity: 0;
  background: linear-gradient(0deg, rgba(56,0,0,0.6990371148459384) 0%, rgba(88,46,19,0.6970763305322129) 65%);

  &--horror {
    background: darkred !important;
    border: 2px solid palegreen !important;
    border-radius: 130px 130px 0px 0px !important;

    transition: background-color 1s, color 2s, background-color 2s, font-familly 3s, border 4s, border-radius 4s;
  }

  &__julik-id-photo {
    display: block;  
    inline-size: 100%;
    height: 400px;
    margin: 0 auto;
    z-index: 50;
  }

  &__news-banner {
    inline-size: 100%;
    padding: 10px 0;
    margin: 0;
  }
}

.baba-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  background-image: url("./assets/baba.png");
  background-position: top;
  background-attachment: scroll;
}

.background-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  background-image: url("./assets/b2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}




/*=============================================
=            Hero ||                          =
=============================================*/
/*=====  End of Hero ||                ======*/





/*=============================================
=            Classes ||                       =
=============================================*/

.horror-h1 {
  color: red !important;
}

/*=====  End of Classes ||             ======*/





/*=============================================
=            Animations ||                    =
=============================================*/

.patreons-container {
  position: absolute;
  top: 13%;
  left: 60%;
}

.patreons-header {
  margin: 0 0 1vh 0;
}

.patreons-list {
  margin: 0;
  list-style-type: none;
  list-style-type: disclosure-closed;
}

.patreons-list > li {
  font-size: 3vw;
  padding: 1vh 0vw;
  text-align: center;
}

.patreons-list > hr {
  margin: 0;
}

.patreons {
	font-size: 5vw;
	font-family: calibri;
	background-color: rgba(0,0,0, 0.15);
	border-radius: 8px;
	padding: 0 6vw;
}

.body-animation {
  animation: 
    /* pageBeat 10s ease-in 0s infinite,  */
    fadeInOpacity 2s ease-in-out 0s 1,
    scaleIn 2s ease-in-out 0s 1;
}
@keyframes pageBeat {
  0%    {box-shadow: 0px 0px 1px sandybrown;}
  50%   {box-shadow: 0px 0px 50px sandybrown;}
  100%  {box-shadow: 0px 0px 1px sandybrown;}
}

@keyframes scaleIn {
  0%   { transform: scale(0,0); }
  100% { transform: scale(1,1); }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.heartbeat-animation-horror {
  animation-name: pageBeatHorror;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes pageBeatHorror {
  0%    {box-shadow: 0px 0px 1px darkred;}
  50%   {box-shadow: 0px 0px 50px crimson;}
  100%  {box-shadow: 0px 0px 1px darkslategray;}
}

.background-lumination-animation {
  animation-name: lumination;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes lumination {
  0%   {background-blend-mode: unset;}
  50%  {background-blend-mode: luminosity;}
  100% {background-blend-mode: unset;}
}

/*=====  End of Animations ||          ======*/





/*=============================================
=            ID's ||                          =
=============================================*/

#loading-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgba(255,255,255,0.9); */
  display: flex;
  align-items: center;
  justify-content: center;
    /* filter: blur(10px); */
}

#loading-img {
  width: 30vw;
}

#version-string {
  color: black;
  text-align: center;
  margin-top: 0;
  font-size: 2vw;
}

#blurred-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.15);
	z-index: -1;
	backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
}

/*=====  End of ID's ||                ======*/
