/**
 *
 * CONTENTS 
 *
 */

a:link {
  color: sandybrown;
  text-decoration: none;
}

a:visited {
  color: darksalmon;
}

a:focus {
  color: crimson;
  box-shadow: 0 0 3pt 2pt crimson;
  outline: none;
}

a:hover {
  color: gold;
  cursor: url("@Assets/images/dog-open-cursor.png"), default;
  border-bottom: 2px dotted;
}

a:active {
  color: crimson;
}

.main-section-container {
  position: sticky;
  min-height: 100vh;
}

.main-section {
  position: relative;
  inline-size: 450px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 20px;
  scroll-margin-top: 20px;
  padding: 0 20px 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  opacity: 0;
  transition: background 1s;

  &--brown {
    background: linear-gradient(0deg, rgba(56,0,0,0.6990371148459384) 0%, rgba(88,46,19,0.6970763305322129) 65%);
    box-shadow: 0px 0px 1px sandybrown;
  }

  &--blue {
    background: linear-gradient(0deg, rgba(23, 0, 56, 0.7) 0%, rgba(19, 52, 88, 0.7) 65%);
    box-shadow: 0px 0px 1px #60a8f4;

    a:link {
      color: #00f3ff;
      text-decoration: none;
    }
    
    a:visited {
      color: #009fff;
    }
  }

  // &--horror {
    // background: linear-gradient(0deg, rgba(23, 0, 56, 0.7) 0%, rgba(19, 52, 88, 0.7) 65%);
  // }

  &--horror {
    background: darkred !important;
    border: 2px solid palegreen !important;
    border-radius: 130px 130px 0px 0px !important;
    text-shadow: 0 0 20px #fefcc9,
                10px -10px 30px #feec85,
                -20px -20px 40px #ffae34,
                20px -30px 35px #ec760c,
                -20px -40px 40px #cd4606,
                0 -50px 65px #973716,
                10px -70px 70px #451b0e;
    box-shadow: 0px 0px 1px darkred;

    transition: background-color 1s, color 2s, background-color 2s, font-familly 3s, border 4s, border-radius 4s;
  }

  &__title-header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.8rem;
  }

  &__julik-id-photo {
    display: block;  
    inline-size: 100%;
    height: 400px;
    margin: 0 auto;
    z-index: 50;
  }

  &__news-banner {
    inline-size: 100%;
    padding: 10px 0;
    margin: 0;
  }
}

.main-section--brown::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  box-shadow: 0px 0px 50px sandybrown;
  border-radius: 8px;

  opacity: 0;
  animation: pageBeat 10s ease-in 0s infinite,  
  // transition: opacity 10s;
}

.main-section--blue::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  box-shadow: 0px 0px 50px #60a8f4;
  border-radius: 8px;

  opacity: 0;
  animation: pageBeat 10s ease-in 0s infinite,  
  // transition: opacity 10s;
}

.main-section--horror::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  box-shadow: 0px 0px 50px crimson;
  border-radius: 130px 130px 0px 0px !important;

  opacity: 0;
  animation: pageBeat 10s ease-in 0s infinite,  
  // transition: opacity 10s;
}

.baba-hero {
  display: flex;
  flex-direction: column;
  position: relative;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  background-image: url("./assets/baba.jpg");
  background-position: top;
  background-attachment: scroll;
}

.background-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  background-image: url("./assets/b2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}




/*=============================================
=            Hero ||                          =
=============================================*/
/*=====  End of Hero ||                ======*/





/*=============================================
=            Classes ||                       =
=============================================*/

.horror-h1 {
  color: red !important;
}

/*=====  End of Classes ||             ======*/





/*=============================================
=            Animations ||                    =
=============================================*/

.nav-bar-container {
	position: fixed;
	right: -3rem;
	font-size: 14rem;
	height: 100vh;
	background-color: rgba(0, 0,0, 0.1);
	width: 7.5rem;
	// z-index: 9999;
	display: flex;
	flex-direction: column;
	top: 0;
	align-content: center;
	justify-content: space-evenly;
}

.patreons-container {
	height: 50%;
	width: 100%;
	flex-direction: row-reverse;
	display: flex;
}

.patreons-header {
  margin: 0 0 1vh 0;
}

.patreons-list {
  margin: 0;
  list-style-type: none;
  list-style-type: disclosure-closed;
}

.patreons-list > li {
  font-size: 3.5rem;
  padding: 1vh 0vw;
  text-align: center;
}

.patreons-list > hr {
  margin: 0;
}

.patreons {
	font-size: 5.2rem;
	font-family: vip_romanregular, 'Times New Roman', Times, serif;
	background-color: rgba(0,0,0, 0.15);
	border-radius: 8px;
	padding: 0 6vw;
}

.patreons-wrapper {
  height: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* align-content: center; */
  justify-content: center;
  margin: 6vw;
  font-size: 3.5rem;
}

.julik-words-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* align-content: center; */
  justify-content: center;
  margin: 0 3vw;
  padding: 0 2vw;
  overflow: hidden;
}

.julik-words {
  text-shadow: 1px 1px 1px black;
  text-indent: 6rem;

  &__text {
    font-size: 3.5rem;
    font-family: herr_von_muellerhoffregular, fantasy;
  }
  &__signature {
    text-align: right;
    /* margin-right: 100px; */
    font-size: 5vw;
    margin-right: 6vw;
    margin-top: 3vh;
    font-family: herr_von_muellerhoffregular, fantasy;
  }
}

.body-animation {
  animation: 
    fadeInOpacity 2s ease-in-out 0s 1,
    scaleIn 2s ease-in-out 0s 1;
}
@keyframes pageBeat {
  0%    {opacity: 0;}
  50%   {opacity: 1;}
  100%  {opacity: 0;}
}

@keyframes scaleIn {
  0%   { transform: scale(0,0); }
  100% { transform: scale(1,1); }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.heartbeat-animation-horror {
  animation-name: pageBeatHorror;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes pageBeatHorror {
  0%    {}
  50%   {}
  100%  {box-shadow: 0px 0px 1px darkslategray;}
}

.background-lumination-animation {
  animation-name: lumination;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes lumination {
  0%   {background-blend-mode: unset;}
  50%  {background-blend-mode: luminosity;}
  100% {background-blend-mode: unset;}
}

/*=====  End of Animations ||          ======*/





/*=============================================
=            ID's ||                          =
=============================================*/

#loading-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgba(255,255,255,0.9); */
  display: flex;
  align-items: center;
  justify-content: center;
    /* filter: blur(10px); */
}

#loading-img {
  width: 30vw;
}

#version-string {
  color: black;
  text-align: center;
  margin-top: 0;
  font-size: 2vw;
}

#blurred-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.15);
	z-index: -1;
	backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
}

/*=====  End of ID's ||                ======*/
