/**
 *
 * Glocal app stylesheet 
 *
 */

/*=============================================
=            Fonts ||                         =
=============================================*/

@font-face {
  font-family: "localLato";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: localXanhMono;
  src: url("./assets/fonts/Xanh_Mono/XanhMono-Regular.ttf");
}

@font-face {
  font-family: localMontserrat;
  src: url("./assets/fonts/Montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: localAmaticSC;
  src: url("./assets/fonts/Amatic_SC/AmaticSC-Regular.ttf");
}

@font-face {
  font-family: vipRoman;
  src: url("./assets/fonts/vip_roman/VIPRoman-Regular.ttf");
}

@font-face {
  font-family: mullerhoff;
  src: url("./assets/fonts/herr-von-muellerhoff/HerrVonMuellerhoff-Regular.otf");
}

/*=====  End of Fonts |              ======*/





/*=============================================
=            General ||                       =
=============================================*/

html {
  position: relative;
  font-size: 12px;
  font-family: "localLato", sans-serif;
  color: ghostwhite;
  cursor: url("./assets/images/dog-cursor.png"), default;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition: background 2s;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: white;
  text-shadow: 17px 18px 5px rgba(255,255,255, 0.2);
  font-size: 35px;
  text-align: center;
}

h2 {
  text-align: center;
}

p, li {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 1px;
}

a {
  color: sandybrown;
}

a:hover {
  cursor: url("./assets/images/dog-open-cursor.png"), default;
}

::selection {
  color: whitesmoke;
  background-color: burlywood;
  text-shadow: #FC0 1px 0 10px;
}

/*=====  End of General ||             ======*/





/*=============================================
=            Classes ||                       =
=============================================*/

.full-screen {
  width:  100%;
  height: 100vh;
  display: flex;
}

.dog-background {
  background-image: url("./assets/images/b1.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.wola-retro-page {
  background-color: black;
}

.overflow-hidden {
  overflow: hidden;
}

.horror-html {
  background-color: black !important;
  background-image: url("./assets/images/horror-background.png");
  background-repeat: round;
  background-size: unset;
  background-position: unset;
  color: black !important;
  font-family: cursive !important;
  cursor: url("./assets/icons/skull.cur"), default;
  transition: background-color 1s, color 2s, font-familly 3s, border 4s, border-radius 4s;
}

/*=====  End of Classes ||             ======*/





/*=============================================
=            Animations ||                    =
=============================================*/

.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity 2s ease;
}
.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}

/*=====  End of Animations ||          ======*/
