/* General */
/* ========================================================================= */

@font-face {
  font-family: "localLato";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf");
}

html {
  position: relative;
  font-size: 12px;
  font-family: "localLato", sans-serif;
  color: ghostwhite;
  cursor: url("./assets/images/dog-cursor.png"), default;
}

.loading-page {
  overflow: hidden;
}

#main-section {
  position: sticky;
  inline-size: 450px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 20px;
  scroll-margin-top: 20px;
  padding: 0 20px 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  opacity: 0;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: white;
  text-shadow: 17px 18px 5px rgba(255,255,255, 0.2);
  font-size: 35px;
  text-align: center;
}

h1[margin-left="0"] {
  color: red;
}

h2 {
  text-align: center;
}

p, li {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 1px;
}

a {
  color: sandybrown;
}

a:hover {
  cursor: url("./assets/images/dog-open-cursor.png"), default;
}

::marker {
  content: "🐶   ";
}

::selection {
  color: whitesmoke;
  background-color: burlywood;
  text-shadow: #FC0 1px 0 10px;
  /* cursor: url("../images/dog-cursor-open.png"), default; */
}

/* Hero section */
/* ========================================================================= */

#julik-hero-header {
	font-size: 16vh;
	background-color: rgba(0,0,0, 0.15);
	border-radius: 30px;
	padding: 0 10vw;
	margin: 0;
	margin-bottom: 10vh;
	text-shadow: none;
	color: rgba(255, 255, 255, 0.9);
	font-family: calibri;
}
.hero-navigation-arrow {
  width: 10vh;
  height: 10vh;
  position: absolute;
  bottom: 0;
  border-color: white;
  border: solid white;
  border-width: 0 1vh 1vh 0;
  margin-bottom: 5vh;
  cursor: pointer;
  transform: rotate(45deg);
}

/* Id's */
/* ========================================================================= */
/* Main content */
/* ========================================================================= */

/* News banner */
/* ========================================================================= */

#page-reset-btn {
  display: none;
}
/* Classes */
/* ========================================================================= */

.horror-transitions {
  transition: background-color 1s, color 2s, font-familly 3s, border 4s, border-radius 4s;
}

.horror-marker::marker {
  content: "🦴   ";
}

/* Animations */
/* ========================================================================= */


.news-moving-animation {
  animation-name: bannering;
  animation-duration: 15s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes bannering {
  0%   {transform: translateX(100%);}
  100% {transform: translateX(-100%);}
}

.body-animation {
  animation: 
    pageBeat 10s ease-in 0s infinite, 
    fadeInOpacity 2s ease-in-out 0s 1,
    scaleIn 2s ease-in-out 0s 1;
}

@keyframes borderRadiusChange {
  0% {border-radius: 10px 80px 50px 20px;}
  100% {border-radius: 70px 20px 120px 70px;}
}

@keyframes pageBeat {
  0%    {box-shadow: 0px 0px 1px sandybrown;}
  50%   {box-shadow: 0px 0px 50px sandybrown;}
  100%  {box-shadow: 0px 0px 1px sandybrown;}
}

@keyframes scaleIn {
  0%   { transform: scale(0,0); }
  100% { transform: scale(1,1); }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.heartbeat-animation-horror {
  animation-name: pageBeatHorror;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes pageBeatHorror {
  0%    {box-shadow: 0px 0px 1px darkred;}
  50%   {box-shadow: 0px 0px 50px crimson;}
  100%  {box-shadow: 0px 0px 1px darkslategray;}
}
