.welcome-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/welcome-julik.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &__header {
    /* padding: 0 25%; */
    margin: 0;
    margin-bottom: 10vh;
    /* border-radius: 16px; */
    font-family: vip_romanregular, 'Times New Roman', Times, serif;
    font-size: 16vh;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    padding: 0;
    outline: solid 1px white;

    // padding: 0 10vw;
    // margin: 0;
    // margin-bottom: 10vh;
    // border-radius: 30px;
    // font-family: vipRoman;
    // font-size: 16vh;
    // color: rgba(255, 255, 255, 0.9);
    // text-shadow: none;
    // background-color: rgba(0,0,0, 0.15);
  }

  &__scroll-arrow {
    position: absolute;
    bottom: 0;
    width: 10vh;
    height: 10vh;
    margin-bottom: 5vh;
    border: solid #fff;
    border-width: 0 1vh 01vh 0;
    cursor: pointer;
    transform: rotate(45deg);
    box-shadow: 1 1 1 1;
    border-radius: 0px 5px 5px 5px;
    transition: border-color 1s;
    // position: absolute;
    // bottom: 0;
    // width:  10vh;
    // height: 10vh;
    // margin-bottom: 5vh;
    // border: solid white;
    // border-width: 0 1vh 1vh 0;
    // cursor: pointer;
    // transform: rotate(45deg);

    &--pointing-down {
      animation-name: scrollArrowFloating;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-delay: 5s;
    }
  }

  &__scroll-arrow:hover {
    border-color: black;
  }
}

@keyframes scrollArrowFloating {
  0%    { transform: translateY(0px) rotate(45deg) }
  5%    { transform: translateY(20px) rotate(45deg) }
  10%    { transform: translateY(0px) rotate(45deg) }
  15%    { transform: translateY(20px) rotate(45deg) }
  20%, 100%  { transform: translateY(0px)   rotate(45deg) }
}
