.welcome-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/welcome-julik.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &__header {
    padding: 0 10vw;
    margin: 0;
    margin-bottom: 10vh;
    border-radius: 30px;
    font-family: calibri;
    font-size: 16vh;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: none;
    background-color: rgba(0,0,0, 0.15);
  }

  &__scroll-arrow {
    position: absolute;
    bottom: 0;
    width:  10vh;
    height: 10vh;
    margin-bottom: 5vh;
    border: solid white;
    border-width: 0 1vh 1vh 0;
    cursor: pointer;
    transform: rotate(45deg);
  }
}
