.welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("./assets/welcome-julik.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &__header {
    flex: 1;
    padding: 0;
    margin: 0;
    margin-bottom: 10vh;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    background-color: rgba(0, 0, 0, 0.24);
    color: rgba(255, 255, 255, 0.9);
    font-family: vip_romanregular, 'Times New Roman', Times, serif;
    font-size: calc(4rem + 10vw);
    text-shadow: none;
  }

  &__scroll-arrow {
    width:  calc(4rem + 5vw);
    height: calc(4rem + 5vw);
    border: solid #fff;
    border-width: 0 0.6rem 0.6rem 0;
    margin-bottom: 6vh;
    position: absolute;
    bottom: 0;
    box-shadow: 1 1 1 1;
    border-radius: 0px 0.5rem 0.5rem 0.5rem;
    cursor: pointer;    
    transition: border-color 1s;
    transform:  rotate(45deg);

    &--pointing-down {
      animation-name: scrollArrowFloating;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-delay: 5s;
    }
  }

  &__scroll-arrow:hover {
    border-color: black !important;
    cursor: url("@Assets/images/dog-open-cursor.png"), default;
  }
}

@keyframes scrollArrowFloating {
  0%         { transform: translateY(0px) rotate(45deg); border-color: #fff;}
  5%         { transform: translateY(3vh) rotate(45deg); border-color: black;}
  10%        { transform: translateY(0px) rotate(45deg); border-color: black;}
  15%        { transform: translateY(3vh) rotate(45deg); border-color: black;}
  20%, 100%  { transform: translateY(0px) rotate(45deg); border-color: #fff;}
}
